
# Ignore all data files
/data/
/data_*
/node_data/
/database/
results/
/figures/
/node_results/
data/
results*/
results/
examples/

# Ignore external modules
/asap/external/

# Ignore cmake files
CMakeFiles/
*.cmake
CMakeCache.txt
Makefile


*.csv
*.txt
*.pdf
*.h5*
*.tsv
*.pkl
*.npz
*.gz
*.torch

*.log
*.sh
*.yaml
*.rmd

nohup.out

.vscode/
.snakemake/

io.py
scratch.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
/build

*.so
asapc

